* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;
    --azul: #0388A6;
    --azul-escuro: #006D86;
    --cinza-fundo: #F0F0F0;
    --preto: #000000;
    --cinza-claro: #DADADA;
    --cinza-escuro: #878787;
    --preto-bolinha-caixa: #302C2C;
    --branco-input-cadastro: #F9F9F9;
}
body{ 
    background-color: var(--cinza-fundo);
}
.navbar {
    background-color: var(--branco);
    width: 300px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.nav-items {
    margin-left: 4rem;
}
#logo {
    margin-top: 1.5rem; 
}

.cadastros {
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    gap: 3rem;
}
