* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;
    --azul: #0388A6;
    --azul-escuro: #006D86;
    --cinza-fundo: #F0F0F0;
    --preto: #000000;
    --cinza-claro: #DADADA;
    --cinza-escuro: #878787;
    --preto-bolinha-caixa: #302C2C;
    --branco-input-cadastro: #F9F9F9;
}
body{ 
    background-color: var(--cinza-fundo);
}
.navbar {
    background-color: var(--branco);
    width: 300px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.nav-items {
    font-size: 20px;
    font-weight: 600;
    color: var(--azul-escuro);
    margin-left: 4rem;
}

.nav-item{
    padding-top: 30px;
}

#logo {
    margin-top: 1.5rem; 
}

.cadastros {
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    gap: 3rem;
    position: relative;
    bottom: 270px;
    font-size: 22px;
}

.card-cadastro{
    background-color: #0388A6;
    border-radius: 5px;
}

.cadastro-title{
    width: 138px;
    height: 67px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.pedidos-title{
    width: 138px;
    height: 67px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.estoque-title{
    width: 138px;
    height: 67px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.funcionarios-title{
    width: 138px;
    height: 67px;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

.title-caixa{
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    position: relative;
    bottom: 200px;
    font-size: 22px;
}

.caixa{
    display: flex;
    flex-direction: column;
    width: 1020px;
    height: 615px;
    background-color: #0388A6;
    border-radius: 5px;
    margin-left: 25rem;
    position: relative;
    bottom: 10rem;
}

.caixa-secundaria{
    display: flex;
    flex-direction: row;
}

.title-clientes{
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    gap: 3rem;
    position: relative;
    bottom: 210px;
    font-size: 22px;
}

.title-funcionarios{
    display: flex;
    flex-direction: row;
    margin-left: 25rem;
    gap: 3rem;
    position: relative;
    bottom: 210px;
    font-size: 22px;
}

.caixa-entradas{
    width: 256px;
    height: 121px;
    margin: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
    background-color: white;
}

.caixa-titulo{
    font-size: 18px;
    font-weight: bold;
    padding: 1rem;
}

.caixa-saidas{
    width: 256px;
    height: 121px;
    margin: 2rem;
    margin-left: 2.6rem;
    border-radius: 5px;
    background-color: white;
}

.caixa-total{
    width: 256px;
    height: 121px;
    margin: 2rem;
    margin-left: 2.6rem;
    border-radius: 5px;
    background-color: white;
}

.valor{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.caixa-adicionar{
    width: 918px;
    height: 92px;
    margin: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: end;
    padding: 1.5rem;
    padding-right: 2rem;
}

.adicionar{
    width: 163px;
    height: 45px;
    background-color: #878787;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.icone{
    width: 76px;
    height: 67px;
}

.caixa-descricao{
    width: 918px;
    height: 234px;
    margin: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 250px;
    padding: 1.5rem;
    padding-right: 2rem;
}

.cd-titulo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    left: 90px;
}

.caixa-valor{
    width: 918px;
    height: 234px;
    margin: 2rem;
    margin-left: 3rem;
    border-radius: 5px;
    display: flex;
    gap: 250px;
    padding: 1.5rem;
    padding-right: 2rem;
}

.cd-titulo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    left: 90px;
}